/* You can add global styles to this file, and also import other style files */
@font-face {
  font-family: "Inter";
  src: url("assets/fonts/Inter-VariableFont_opsz,wght.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
}

:root {
  background-color: #fff;
  color: #000;
  font-family: Inter;
}
